@page "/batteries/create"
@using Microsoft.EntityFrameworkCore
@using MultiWheeler.Domain
@inject IDbContextFactory<MultiWheeler.Data.MultiWheelerContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Battery</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Battery" OnValidSubmit="AddBattery" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="sn" class="form-label">SN:</label> 
                <InputText id="sn" @bind-Value="Battery.SN" class="form-control" /> 
                <ValidationMessage For="() => Battery.SN" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="customerid" class="form-label">CustomerId:</label> 
                <InputNumber id="customerid" @bind-Value="Battery.CustomerId" class="form-control" /> 
                <ValidationMessage For="() => Battery.CustomerId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/batteries">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Battery Battery { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddBattery()
    {
        using var context = DbFactory.CreateDbContext();
        context.Battery.Add(Battery);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/batteries");
    }
}
