@page "/cmdresults"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MultiWheeler.Domain
@using MultiWheeler.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MultiWheeler.Data.MultiWheelerContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="cmdresults/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.CMDResult">
    <PropertyColumn Property="cmdresult => cmdresult.CommandId" />
    <PropertyColumn Property="cmdresult => cmdresult.SN" />
    <PropertyColumn Property="cmdresult => cmdresult.Result" />
    <PropertyColumn Property="cmdresult => cmdresult.Message" />
    <PropertyColumn Property="cmdresult => cmdresult.CMDId" />

    <TemplateColumn Context="cmdresult">
        <a href="@($"cmdresults/edit?cmdresultid={cmdresult.CMDResultId}")">Edit</a> |
        <a href="@($"cmdresults/details?cmdresultid={cmdresult.CMDResultId}")">Details</a> |
        <a href="@($"cmdresults/delete?cmdresultid={cmdresult.CMDResultId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private MultiWheelerContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
